<link rel="stylesheet" href="../stylesheets/designer.css">
<img src="/images/banner_sjs.jpg" alt="">
<div class="box">
    <div class="TOP">
        <div class="TOPT"></div>
        <div class="TOPB"></div>
    </div>
</div>