
<div class="shouye">
    <div class="inner_c">
        <div class="top">
            <!--tab切换-->
            <div class="change">
                <div class="top1" id="btn">
                    <button class="current">整装报价</button><button class="current">免费量房</button><button class="current">找设计师</button>
                </div>
                <div id="divs" class="bottom">
                    <div class="show">
                        <span>算算你家装修多少钱</span> <br>
                        
                        <input type="text" value="家居户型">
                        <input type="text" value="居住小区">
                        <input type="text" value="使用面积">
                        <span class="dw">平方米</span>
                        <input type="text" value="您的称呼">
                        <input type="text" value="联系电话">
                        <button class="btn">马上报价</button>
                    </div>
                    <div class="hide">
                        <span>免费上门量房服务</span> <br>
                        <input type="text" value="您的称呼">
                        <input type="text" value="联系电话">
                        <input type="text" value="居住小区">
                        <button class="btn">马上报价</button>
                        <img src="./images/mflf.jpg" style="margin-left: 10px;margin-top: 10px;">
                    </div>
                    <div class="hide">

                        <span>推荐适合您的设计师</span> <br>
                        <input type="text" value="装修风格">
                        <input type="text" value="您的预算">
                        <span class="dw2">万元</span>
                        <input type="text" value="您的称呼">
                        <input type="text" value="联系电话">
                        <input type="text" value="居住小区">
                        <button class="btn">马上报价</button>
                    </div>
                </div>
            </div>
            <!--伪装的轮播图-->
            <div class="lunbo">
                <span class="left"></span>
                <span class="right"></span>
            </div>
            <div class="aside">
                <ul>
                    <li>龙发装饰分享豪宅中式书房设 <br>
                        <p>豪宅的中式设计，朱啊呦是能体现其古味，对升高有和那个哦讲究和喜欢度···</p>

                    </li>
                    <li>龙发装饰官网分享不同空间家 <br>
                        <p>大家的家居生活中家具是不可缺少的，家中的家居和整体的装修风格之···</p>

                    </li>
                    <li>郑州装饰公司告诉大家实木楼<br>
                        <p>大家也都知道楼梯的类型有许多，实木不锈钢和钢木的等。大多数的人···</p></li>
                </ul>
            </div>
            <div class="GC">
                <ul>
                    <li class="first"></li>
                    <li>
                        <div class="t1"></div>
                        <a>收房量房</a>
                    </li>
                    <li class="line"></li>
                    <li>
                        <div class="t2"></div>
                        <a>前期准备</a>
                    </li>
                    <li class="line"></li>
                    <li>
                        <div class="t3"></div>
                        <a>水电工程</a>
                    </li>
                    <li class="line"></li>
                    <li>
                        <div class="t4"></div>
                        <a>泥瓦工程</a>
                    </li>
                    <li class="line"></li>
                    <li>
                        <div class="t5"></div>
                        <a>土木工程</a>
                    </li>
                    <li class="line"></li>
                    <li>
                        <div class="t6"></div>
                        <a>油漆工程</a>
                    </li>
                    <li class="line"></li>
                    <li>
                        <div class="t7"></div>
                        <a>安装收尾</a>
                    </li>
                    <li class="line"></li>
                    <li>
                        <div class="t8"></div>
                        <a>软装配饰</a>
                    </li>
                    <li class="line"></li>
                    <li>
                        <div class="t9"></div>
                        <a>即将入住</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="begin">
            <a href="">装修促销开始</a>
            <div class="img"></div>
            <div class="wen">
                <h1>看作品</h1>
                <p>更多装修课堂尽,尽在装修课堂</p>
                <a>更多作品>></a>
            </div>
            <ul class="case_class">
                <li class="case_w_1">
                    <h1>空间</h1>
                    <dl>
                        <dt><a>卧室</a></dt>
                        <dt><a>客厅</a></dt>
                        <dt><a>儿童房</a></dt>
                        <dt><a>书房</a></dt>
                        <dt><a>厨房</a></dt>
                        <dt><a>卫浴间</a></dt>
                    </dl>
                </li>
                <li class="case_w_1" style="margin-left: 40px;">
                    <h1>局部</h1>
                    <dl>
                        <dt><a>鞋柜</a></dt>
                        <dt><a>衣&nbsp&nbsp&nbsp柜</a></dt>
                        <dt><a>电视柜</a></dt>
                        <dt><a>飘窗</a></dt>
                        <dt><a>背景墙</a></dt>
                        <dt><a>榻榻米</a></dt>
                    </dl>
                </li>
                <li class="case_w_2">
                    <h1>风格</h1>
                    <dl>
                        <dt><a>地中海</a></dt>
                        <dt><a>田园</a></dt>
                        <dt><a>简约</a></dt>
                        <dt><a>北欧</a></dt>
                        <dt><a>新古典</a></dt>
                        <dt><a>欧式</a></dt>
                        <dt><a>中式</a></dt>
                        <dt><a>混搭</a></dt>
                    </dl>
                </li>
                <li class="case_w_3">
                    <h1>户型</h1>
                    <dl>
                        <dt><a>二居室</a></dt>
                        <dt><a>四居室</a></dt>
                        <dt><a>复式</a></dt>
                        <dt><a>三居室</a></dt>
                        <dt><a>大户型</a></dt>
                        <dt><a>别墅</a></dt>
                    </dl>
                </li>
            </ul>
            <div class="look">
                <div class="caselist FloatLeft">
                    <div class="caselist1 FloatLeft">
                        <a title="龙发装饰简约北欧风格装修案例">
                            <span>龙发装饰简约北欧风</span>
                        </a>
                        <img src="/images/1-16092ZT2510-L.jpg" alt="">
                    </div>
                    <div class="caselist2 FloatRight">
                        <a title="龙发装饰300平米别墅装修案例">
                            <span>龙发装饰300平米别墅</span>
                            <img src="/images/1-160Z50Z0400-L.jpg" alt="">
                        </a>
                    </div>
                    <div class="caselist3 FloatRight" style="margin: 0px 20px 0px 0px;">
                        <span>背景龙发装饰欧式风</span>
                        <img src="/images/1-1611250U6140-L.jpg" alt="">
                    </div>
                    <div class="FloatRight">
                       <div class="caselist4 FloatRight">
                           <a title="郑州龙发装饰案例">
                               <span>郑州龙发装饰案例</span>
                               <img src="/images/1-161122115S90-L.jpg" alt="">
                           </a>
                       </div>
                       <div class="caselist5 FloatRight" style="0px 10px">
                           <a title="龙发装饰宇泰佳苑280平米装修案例">
                               <span>龙发装饰宇泰佳苑</span>
                               <img src="/images/1-16092PZJ90-L.jpg" alt="">
                           </a>
                       </div>
                       <div class="caselist6 FloatRight">
                           <a title="绿老街140平米装修">
                               <span>
                                   <strong>绿老街140平米装修</strong>
                               </span>
                               <img src="/images/1-160R0095AVU.jpg" alt="">
                           </a>
                       </div>
                       </div>
                </div>
                <div class="nav_right">
                    <ul style="list-style: square;li">
                        <li><a class="nav_right_a1" title="龙发装饰300平米别墅装修案例">龙发装饰300平米别墅装修案例</a></li>
                        <img  id="nav_right_a1_T1" src="./images/1-16092PZJ90-L.jpg" alt="">
                        <li><a class="nav_right_a2" title="龙发装饰简约北欧风格装修案例">龙发装饰简约北欧风格装修案例</a></li>
                        <img style="display: none" id="nav_right_a1_T2" src="./images/1-16092ZT2510-L.jpg" alt="">
                        <li><a class="nav_right_a3" title="绿地老街140平米装修案例">绿地老街140平米装修案例</a></li>
                        <img style="display: none" id="nav_right_a1_T3" src="./images/1-160R0095AVU.jpg" alt="">
                        <li><a class="nav_right_a4" title="北京龙发装饰欧式风格装修案例">北京龙发装饰欧式风格装修案例</a></li>
                        <img style="display: none" id="nav_right_a1_T4" src="./images/1-1611250U6140-L.jpg" alt="">
                        <li><a class="nav_right_a5"title="郑州龙发装饰案例">郑州龙发装饰案例</a></li>
                        <img style="display: none" id="nav_right_a1_T5" src="./images/1-161122115S90-L.jpg" alt="">
                        <li><a class="nav_right_a6"title="龙发装饰宇泰佳苑280平米装修案例">龙发装饰宇泰佳苑280平米装修案例</a></li>
                        <img style="display: none" id="nav_right_a1_T6" src="./images/1-160Z50Z0400-L.jpg" alt="">
                    </ul>
                </div>
            </div>
            <div class="wen">
                <h1>找设计师</h1>
                <a>更多设计师>></a>
            </div>
            <div class=" teacher">
                <div class="left">
                    <div class="carousel">
                        <!-- 按钮 -->
                        <div class="btns">
                            <a href="javascript:;" class="leftBtn"><</a>
                            <a href="javascript:;" class="rightBtn">></a>
                        </div>
                        <!-- 图片 -->
                        <div class="m_unit">
                            <ul>
                                <li>
                                    <a href="#"><img src="/images/1-160QQ121190-L.jpg" alt=""></a>
                                    <a href="#"><img src="/images/1-160QQ129220-L.jpg" alt=""></a>
                                    <a href="#"><img src="/images/1-160R11001430-L.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/images/1-160R11005580-L.jpg" alt=""></a>
                                    <a href="#"><img src="/images/1-1F2041K6452c.jpg" alt=""></a>
                                    <a href="#"><img src="/images/1-1F50313015H22.jpg" alt=""></a>
                                </li>

                            </ul>
                        </div>
                        <!-- 焦点 -->
                        <div class="circles">
                            <ol>
                                <li class="cur"></li>
                                <li></li>

                            </ol>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="top">
                        <div class="top-con">
                            <span class="zi">每周推荐</span>
                            <img src="/images/week.jpg" alt="">
                            </span>换一批</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <ul>
                            <li>
                                <div class="conn">
                                    <div class="bleft1">

                                    </div>
                                    <div class="bright1">
                                        <p>郭红超</p>
                                        <p>设计总监</p>
                                        <p>随心生活，随心设计</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="conn">
                                    <div class="bleft2">

                                    </div>
                                    <div class="bright2">
                                        <p>冯瑞华</p>
                                        <p>设计总监</p>
                                        <p>随心生活，随心设计</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="conn">
                                    <div class="bleft3">

                                    </div>
                                    <div class="bright3">
                                        <p>杨彦珍</p>
                                        <p>设计总监</p>
                                        <p>随心生活，随心设计</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wen">
                <h1>我的小区</h1>
                <p>更多装修知识，尽在装修课堂</p>
                <a>更多小区>></a>
            </div>
            <div class="xiaoqu">
                <div class="left">
                    <div class="con">
                        <ul>
                            <li>
                                <div class="image"></div>
                                <h4>华润悦府</h4>
                                <p>案例：<span>10</span>&nbsp;个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">查看详细</a></p>
                            </li>
                            <li>
                                <div class="image"></div>
                                <h4>海马公园</h4>
                                <p>案例：<span>10</span>&nbsp;个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">查看详细</a></p>
                            </li><li>
                                <div class="image"></div>
                                <h4>升龙城</h4>
                                <p>案例：<span>10</span>&nbsp;个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">查看详细</a></p>
                            </li><li>
                                <div class="image"></div>
                                <h4>永威五月花城</h4>
                                <p>案例：<span>10</span>&nbsp;个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">查看详细</a></p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="image"></div>
                                <h4>天伦庄园</h4>
                                <p>案例：<span>10</span>&nbsp;个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">查看详细</a></p>
                            </li>
                            <li>
                                <div class="image"></div>
                                <h4>保利海上五月花</h4>
                                <p>案例：<span>10</span>&nbsp;个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">查看详细</a></p>
                            </li>
                            <li>
                                <div class="image"></div>
                                <h4>九鼎世家</h4>
                                <p>案例：<span>10</span>&nbsp;个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">查看详细</a></p>
                            </li>
                            <li>
                                <div class="image"></div>
                                <h4>书香华府</h4>
                                <p>案例：<span>10</span>&nbsp;个&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">查看详细</a></p>
                            </li>
                        </ul>
                    </div>
             </div>
        <div class="right">
            <div class="tops">
                <p>快速报名</p>
                <p>预约量房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;预约参观</p>
                <p><input type="text" placeholder="你的称呼"></p>
                <p><input type="text" placeholder="联系电话"></p>
                <p>立即报名</p>
                <p>寻找我家小区，看邻居怎么装</p>
                <p><input type="text" placeholder="在这里搜索"><span>查询</span></p>
            </div>
            <div class="bottom">
                <p><span>本地楼盘动态</span></p>
                <div class="lastdiv">
                    <ul id="ul">
                        <li>【龙发装饰热装小区】绿地海珀兰轩</li>
                        <li>【龙发装饰热装小区】永威五月花城</li>
                        <li>【龙发装饰热装小区】天伦庄园</li>
                        <li>【龙发装饰热装小区】永威五月花城</li>
                        <li>【龙发装饰热装小区】九鼎世家</li>
                        <li>【龙发装饰热装小区】天伦庄园</li>
                        <li>【龙发装饰热装小区】绿地海珀兰轩</li>
                        <li>【龙发装饰热装小区】永威五月花城</li>
                        <li>【龙发装饰热装小区】天伦庄园</li>
                        <li>【龙发装饰热装小区】永威五月花城</li>
                        <li>【龙发装饰热装小区】九鼎世家</li>
                        <li>【龙发装饰热装小区】天伦庄园</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
            <!--精品专题-->
            <div class="zhuanti">
                <div class="left">

                </div>
                <div class="caselist6">
                                <a>
                                    <span>龙发装饰品质家装</span>
                                    <img src="/images/toubu.gif" alt="">
                                </a>
                            </div>
                <div class="caselist6" style="0px 10px">
                                <a>
                                    <span>龙发装饰品质家装</span>
                                    <img src="/images/toubu.gif" alt="">
                                </a>
                            </div>
                <div class="caselist6">
                                <a>
                               <span>
                                   <strong>龙发装饰品质家装</strong>
                               </span>
                                    <img src="/images/toubu.gif" alt="">
                                </a>
                    </div>
                <div class="caselist6">
                        <a>
                            <span>
                                <strong>龙发装饰品质家装</strong>
                            </span>
                            <img src="/images/toubu.gif" alt="">
                                </a>
                    </div>
            </div>
            <!--文字-->
            <div class="wen">
                <h1>学装修</h1>
                <p>更多装修知识，尽在装修课堂</p>
                <a>更多装修知识>></a>
            </div>
            <!--最后学装修-->
            <div class="last">
                <div class="left">
                    <div class="nav">
                        <div class="top" id="lasttop">
                            <span></span>
                            <p>学习装修</p>
                        </div>
                        <div class="bottom" id="bottom">
                            <span></span>
                            <p>装修问答</p>
                        </div>
                    </div>

                    <div class="contents">
                        <div class="content1" id="content1" style="display: block;">
                            <div class="leftc">
                                <div class="top"></div>
                                <ul>
                                    <li>
                                        <a class="t_1"></a>
                                        装修知识
                                    </li>
                                    <li>
                                        <a class="t_2"></a>
                                        装修知识
                                    </li>
                                    <li>
                                        <a class="t_3"></a>
                                        装修知识
                                    </li>
                                    <li>
                                        <a class="t_4"></a>
                                        装修知识
                                    </li>
                                    <li>
                                        <a class="t_5"></a>
                                        装修知识
                                    </li>
                                    <li>
                                        <a class="t_6"></a>
                                        装修知识
                                    </li>
                                </ul>
    
                            </div>
                            <div class="rightc">
                               <span>
                                    <a title="燥上火怎么办支招秋季家装四问">燥上火怎么办支招秋季家装四问~</a>
                                    <a title="郑州龙发装饰">全文</a>
                                </span>
                                 <ul>
                                     <li><a title="郑州龙发装饰分享装修风格必知常识 现代简约风格的设计理念" target="_blank" >郑州龙发装饰分享装修风格必知常识 现代简约风格的</a></li>
                                    <li><a  title="龙发装饰分享豪宅中式书房设计怎样才能达到古味十足" target="_blank" >龙发装饰分享豪宅中式书房设计怎样才能达到古味十</a></li>
                                    <li><a title="龙发装饰官网分享不同空间家具颜色搭配技巧" target="_blank" >龙发装饰官网分享不同空间家具颜色搭配技巧</a></li>
                                    <li><a title="郑州装饰公司告诉大家实木楼梯与钢木楼梯哪个好 实木楼梯与钢木楼梯对比" target="_blank" >郑州装饰公司告诉大家实木楼梯与钢木楼梯哪个好 实</a></li>
                                    <li><a title="郑州装修公司分享浅色家居装修墙面如何打造" target="_blank" >郑州装修公司分享浅色家居装修墙面如何打造</a></li>
                                    <li><a title="郑州龙发装饰关于装修环保的认识 这些不能少" target="_blank" >郑州龙发装饰关于装修环保的认识 这些不能少</a></li>
                                    <li><a title="龙发装饰公司分享家居装修应该注意哪些细节？一起来了解" target="_blank" >龙发装饰公司分享家居装修应该注意哪些细节？一起</a></li>
                                    <li><a title="郑州龙发装饰分享家装色彩搭配大法 给你的房子化个妆" target="_blank" >郑州龙发装饰分享家装色彩搭配大法 给你的房子化个</a></li>
                                    <li><a title="龙发装饰分享开放式厨房装修攻略让你优雅下厨房" target="_blank" >龙发装饰分享开放式厨房装修攻略让你优雅下厨房</a></li>
                                    <li><a title="郑州装饰公司分享如何用色彩打造完美软装 谨记8个原则" target="_blank" >郑州装饰公司分享如何用色彩打造完美软装 谨记8个原</a></li>
                                    <li><a title="郑州装修公司分享装修中7个不能忽略的家装小细节" target="_blank" >郑州装修公司分享装修中7个不能忽略的家装小细节</a></li>
                            </ul>
                            </div>
                        </div>
                        <div class="content2" id="content2" style="display: none;">
                            <div class="leftc">
                                <div class="top"></div>
                                <div class="center">
                                    帮您解决家装难题
                                    <div class="right">
                                        <span></span>
                                        <a>我要提问</a>
                                    </div>
                                </div>
                                <div class="Bootom">
                                    <input type="text" placeholder="在这里搜索···"><button><span></span>搜搜答案</button>
                                </div>
                            </div>
                             <div class="rightc">
                               <span>
                                    <a title="燥上火怎么办支招秋季家装四问">燥上火怎么办支招秋季家装四问~</a>
                                    <a title="郑州龙发装饰">全文</a>
                                </span>
                                 <ul>
                                     <li><a title="郑州龙发装饰分享装修风格必知常识" target="_blank" >郑州龙发装饰分享装修风格必知常识 现代简约风格的</a></li>
                                    <li><a  title="龙发装饰分享豪宅中式书房设计怎样才" target="_blank" >龙发装饰分享豪宅中式书房设计怎样才能达到古味十</a></li>
                                    <li><a title="龙发装饰官网分享不同空间家具颜色搭" target="_blank" >龙发装饰官网分享不同空间家具颜色搭配技巧</a></li>
                                    <li><a title="郑州装饰公司告诉大家实木楼梯与钢木楼梯" target="_blank" >郑州装饰公司告诉大家实木楼梯与钢木楼梯哪个好 实</a></li>
                                    <li><a title="郑州装修公司分享浅色家居装修墙面如何打造" target="_blank" >郑州装修公司分享浅色家居装修墙面如何打造</a></li>
                                    <li><a title="郑州龙发装饰关于装修环保的认识" target="_blank" >郑州龙发装饰关于装修环保的认识 这些不能少</a></li>
                                    <li><a title="龙发装饰公司分享家居装修应该注意哪些" target="_blank" >龙发装饰公司分享家居装修应该注意哪些细节？一起</a></li>
                                    <li><a title="郑州龙发装饰分享家装色彩搭配大法 给你" target="_blank" >郑州龙发装饰分享家装色彩搭配大法 给你的房子化个</a></li>
                                    <li><a title="龙发装饰分享开放式厨房装修攻略让你优雅" target="_blank" >龙发装饰分享开放式厨房装修攻略让你优雅下厨房</a></li>
                                    <li><a title="郑州装饰公司分享如何用色彩打造完美软装 " target="_blank" >郑州装饰公司分享如何用色彩打造完美软装 谨记8个原</a></li>
                                    <li><a title="郑州装修公司分享装修中7个不能忽略的家装" target="_blank" >郑州装修公司分享装修中7个不能忽略的家装小细节</a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="top">
                        <span>龙发新闻</span>
                        <a>更多新闻</a>
                    </div>
                    <div class="center">
                        <a title="龙发装饰施工工地规范标志照片">
                            <img src="/images/11095H155-0-lp.jpg" style="height: 70px;width: 120px">
                            <span>龙发装饰施工照片</span>
                        </a>
                        <a title="龙发装饰施工工地规范标志照片" class="a">
                            <img src="/images/0953535055-0-lp.jpg" style="height: 70px;width: 120px">
                            <span>龙发装饰施工照片</span>
                        </a>
                    </div>
                    <ul>
                        <li>龙发装饰施工工地规范标志照片</li>
                        <li>热烈祝贺龙发装饰集团王显董事长</li>
                        <li>郑州龙发装饰登录二七广场</li>
                        <li>龙发集团2016新年年会于南京人民大</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<link rel="stylesheet" href="./stylesheets/index.css">
<script src="./javascripts/jquery.min.js"></script>
<script src="./javascripts/index.js"></script>
<script>
    //最后的切换
    
    //克隆第一个元素到最后
    $(".m_unit ul li:first").clone().appendTo(".m_unit ul");

    //信号量
    var idx = 0;

    function autoPlay(){
        idx++;
        $(".m_unit").animate({"left":-890*idx},1200,function(){
            if(idx > 1){
                idx = 0;
                $(this).css("left",0);
            }
        });
        //改变焦点
        changeCircles();
    }

    //右按钮点击
    $(".rightBtn").click(function(){
        autoPlay();
    })


    //左按钮
    $(".leftBtn").click(function(){
        idx--;
        if(idx < 0){
            idx = 1;
            $('.m_unit').css("left",-2800);
        }
        $(".m_unit").animate({"left":-890*idx},2000);
        changeCircles();
    });

    //自动伦播
    var timer = setInterval(autoPlay,2000);
    //鼠标进入停止
    $(".carousel").mouseenter(function(){
        clearInterval(timer);
    })
    //鼠标离开
    $(".carousel").mouseleave(function(){
        timer = setInterval(autoPlay,2000);
    })

    //焦点点击换图
    $(".circles ol li").click(function(){
        $(this).addClass("cur").siblings().removeClass("cur");
        idx = $(this).index();
        $(".m_unit").animate({"left":-890*idx},2000);
    })


    function changeCircles(){
        //排他
        $(".circles ol li").eq(idx).addClass("cur").siblings().removeClass('cur');
        if(idx == 2){
            $(".circles ol li").eq(0).addClass("cur").siblings().removeClass('cur');
        }
    }

</script>
<script>
    $(function(){
     var top = $('#lasttop');
    var bottom = $('#bottom');
    var content1 = $('#content1');
    var content2 = $('#content2');
    top.mouseenter(function(){
        content1.show();
        content2.hide();
        $(this).css("background-color","#ff4f51"); 
         bottom .css("background-color","#eee"); 
    });
    bottom.mouseenter(function(){
        $(this).css("background-color","#ff4f51"); 
        top.css("background-color","#eee");
        content1.hide();
        content2.show();
    });
    
    })
</script>

